@charset "utf-8";
/* CSS Document */

{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.div 
{
	padding: 400px;
	margin: 100px;
}

#ab
{
	
    margin: 30px;
	text-align: center;
	font-size: 25px;
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	
}
#ac
{
	
	text-align: center;
	font-size: 25px;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	
}

.flexbox
{
	background-color:transparent;
	margin:5px;
	
	display: box;
	box-orient: horizontal;
	
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
	display:-moz-box;
	-moz-box-orient:horizontal;
}

.flexbox> div
{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
}

#inicio
{
	padding:20px;
	margin:10px;
	background-color:#F66;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#galeria1
{
	padding:20px;
	margin:10px;
	background-color:#0C9;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#galeria2
{
  padding:20px;
  margin:10px;
  background-color:#C6C;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#Galeria3
{
  padding:20px;
  margin:10px;
  background-color:#9C3;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#reserva
{
  padding:20px;
  margin:10px;
  background-color:#F60;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
