@charset "utf-8";
/* CSS Document */
*
{
	margin:0px;
	padding:0px;
	text-align:center;
}

body
{
	width:100%
}

.flexbox
{
	background-color:transparent;
	margin:5px;
	
	display: box;
	box-orient: horizontal;
	
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	
	display:-moz-box;
	-moz-box-orient:horizontal;
}

.flexbox> div
{
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
}

#inicio
{
	padding:20px;
	margin:10px;
	background-color:#52EC14;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#galeria1
{
	padding:20px;
	margin:10px;
	background-color:#ED5095;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#galeria2
{
  padding:20px;
  margin:10px;
  background-color:#0CD9FB;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#Galeria3
{
  padding:20px;
  margin:10px;
  background-color:#DF6C6E;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}
#reserva
{
  padding:20px;
  margin:10px;
  background-color:#E6EC14;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
}

